<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/css/searchPage.css">
</head>
<body>
<form th:method="POST" th:action="@{/items/up/{id}/add/search}">
    <label for="label">Введите название техники</label>
    <input type="text" id="label" name="label">
    <input type="submit" value="Искать">
</form>
<a href="">На главную</a>

<hr/>
<form th:if="${items.isEmpty()}">
    <a style="color: red">Техника не найдена</a>
</form>

<form th:if="${!items.isEmpty()}">
    <p>Результат поиска</p>
    <div th:each="item : ${items}">
        <a th:href="@{/items/up/{id}/add/search/{itemId}(id = ${thisShop.getShop_id()}, itemId = ${item.getItem_id()})}"
           th:text="${item.getLabel()}">Item</a>
    </div>
</form>
<hr/>
</body>
</html>