<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link rel="stylesheet" href="/css/itemPage.css">
</head>
<body>
<form th:object="${item}">
    <img class="img" th:if="${item.getImage() != null}" th:src="@{'/upload/' + ${item.getImage()}}" alt="Фото товара">
    <img class="img" th:if="${item.getImage() == null}" src="/images/2.png" alt="Заглушка фото товара">
    <br/>
    <p th:text="'Название техники: ' + ${item.getLabel()} + ' | цена: '+${item.getItem_price()}">item</p>
    <p th:text="'Категория: ' + ${item.getCategory_id().getCategory_title()}"></p>
<!--    <p th:if="${item.get().getCategory_id() == null}">Категория не указана</p>-->
    <br/>
    <p>Оценка:</p>
    <br/>
    <a href="">Отзывы</a>
    <p>Описание:</p>
    <p th:text="${item.getDescription()}"></p>
    <a href="/main/search">На страницу поиска</a>
    <div th:if="${!shops.isEmpty()}">
        <p>Находится в магазинах:</p>
        <hr/>
        <div th:each="shop : ${shops}">
<!--            Через переход по ссылке магазина, заказать товар из выбранного магазина (Изменить адресс сылки ниже)-->
            <p th:text="${shop.getAddress()}">Shop address</p>
        </div>
    </div>
    <p th:if="${shops.isEmpty()}">Техники нет в наличии</p>
</form>
</body>
</html>