body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Светло-голубой фон */
    color: #003366; /* Темно-синий текст */
    text-align: center;
    padding: 20px;
}

form {
    background-color: #ffffff; /* Белый фон формы */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 51, 0.2);
    display: inline-block;
    margin: 20px;
}

label {
    font-size: 18px;
    color: #003366;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #003366;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #005bbb; /* Ярко-синий цвет кнопки */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #004999; /* Темнее при наведении */
}

a {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #005bbb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #004999;
}

div {
    margin-top: 15px;
}

hr {
    border: 1px solid #003366;
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
}

form a[style="color: red"] {
    font-size: 18px;
    font-weight: bold;
}
