<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/itemPage.css">
</head>
<body>
<form th:object="${item}" th:action="@{/items/del/{id}(id = ${item.getItem_id()})}" th:method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Удалить">
</form>
<form th:object="${item}">
    <img class="img" th:if="${item.getImage() != null}" th:src="@{'/upload/' + ${item.getImage()}}" alt="Фото товара">
    <img class="img" th:if="${item.getImage() == null}" src="/images/2.png" alt="Заглушка фото товара">
    <p th:text="'Номер товара: ' + ${item.getItem_id()}">item</p>
    <p th:text="'Название: '+${item.getLabel()} + ' цена: '+${item.getItem_price()}"></p>
    <p th:text="'Категория: ' + ${item.getCategory_id().getCategory_title()}"></p>
    <br/>
    <p>Оценка:</p>
    <br/>
    <a href="">Отзывы</a>
    <p>Описание:</p>
    <p th:text="${item.getDescription()}"></p>
<!--    Ссылка на предыдущуу страницу-->
    <a href="/items/del">Назад</a>
    <div th:if="${!shops.isEmpty()}">
        <p>Находится в магазине:</p>
        <hr/>
        <div th:each="shop : ${shops}">
            <p th:text="${shop.getAddress()}">Shop address</p>
        </div>
    </div>
    <p th:if="${shops.isEmpty()}">Техники нет в магазинах</p>
</form>
</body>
</html>