<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<form action="/items/add">
    <label>Добавить товар:</label>
    <input type="submit" value="Добавить">
</form>
<br/>
<form action="/items/edit">
    <label>Изменить товар:</label>
    <input type="submit" value="Изменить">
</form>
<br/>
<form action="/items/del">
    <label>Удалить товар:</label>
    <input type="submit" value="Удалить">
</form>
<br/>
<form action="/items/up">
    <label>Распределить товар:</label>
    <input type="submit" value="Распределить">
</form>
<a href="/main">На главную</a>
</body>
</html>